<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h2>Administración de Usuarios</h2>
        </div>
      </div>
      <hr />
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">{{ id ? 'Actualizar' : 'Crear' }} Usuario</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="guardar(form.value)">
            <mat-form-field>
              <input matInput formControlName="id" name="id"
              placeholder="User" (keyup)="onFormChange('id')">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="name" name="name"
              placeholder="Nombre" (keyup)="onFormChange('name')">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="email" name="email" email
              placeholder="Correo Electrónico" (keyup)="onFormChange('email')">
            </mat-form-field>

            <mat-form-field>
              <mat-select formControlName="type" name="type" placeholder="Tipo de Usuario"
              (selectionChange)="onFormChange('type')">
                <mat-option *ngFor="let option of tiposUsuarios" [value]="option[0]"> 
                  {{ option[1] }} 
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="id != undefined">
              <mat-select formControlName="verificado" name="verificado" placeholder="Verificado"
              (selectionChange)="onFormChange('verificado')">
                <mat-option *ngFor="let option of options" [value]="option.id"> 
                  {{ option.name }} 
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="id != undefined">
              <mat-select formControlName="activo" name="activo" placeholder="Activo"
              (selectionChange)="onFormChange('activo')">
                <mat-option *ngFor="let option of estatus" [value]="option.id"> 
                  {{ option.name }} 
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="id != undefined">
              <input matInput formControlName="chief" name="chief"
              placeholder="Jefe" (keyup)="onFormChange('chief')">
            </mat-form-field>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success pull-right" [disabled]="form.invalid">Guardar</button>
                    <button type="button" class="btn btn-danger pull-right"  (click)="regresar()">Regresar</button>
                </div>
            </div>
          </form>
        </div>

      </div>
    </div>
</div>
