<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Agregar y Consultar Solicitudes de Sala</h2>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header-info card-header">
            <h3 class="card-title">Agregar nueva solicitud de Sala</h3>
          </div>

          <div class="card-body">
            <form [formGroup]="newRoomForm" 
            (ngSubmit)="onSubmit()">
              <div class="row" style="margin: 10px 0;">
                <div class="col-lg-3 col-md-6">
                  <mat-form-field>
                    <mat-label>Id de Sala</mat-label>
                    <input matInput formControlName="room_id"
                    placeholder="Ex. MYS-999">
                    <mat-error *ngIf="newRoomForm.controls.room_id.errors">
                      <span *ngIf="newRoomForm.controls.room_id.errors.stringValid">
                        El formato de sala es EDIFICIO-NUMERO
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6" style="display: flex; align-items: center;">
                  <button mat-raised-button
                  [disabled]="newRoomForm.invalid || (newRoomForm.pristine)"
                  color="primary" type="submit" class="fill-width" >
                    Enviar Solicitud
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header-info card-header">
            <h3 class="card-title">Solicitudes de Creaci&oacute;n de Salas</h3>
          </div>

          <div class="card-body">
            <table class="table">
              <thead>
                  <tr>
                      <th class="text-center">Sala</th>
                      <th class="text-center">Solicitante</th>
                      <th class="text-center">Dueño</th>
                      <th class="text-center">Administrador de sala	</th>
                      <th class="text-center">Trimestre</th>
                      <th class="text-center">Fecha de Solicitud</th>
                      <th class="text-center">Estatus</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let request of roomRequest">
                    <th class="text-center">{{request.room_id}}</th>
                    <th class="text-center">{{request.manager_id}}</th>
                    <th class="text-center">{{request.owner_id}}</th>
                    <th class="text-center">{{request.requested_id}}</th>
                    <th class="text-center">{{request.trimester_id}}</th>
                    <th class="text-center">{{request.date | date}}</th>
                    <th class="text-center">{{request.status | requestStatus}}</th>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
