<div class="row">
  <div class="col-md-9 ml-auto mr-auto">
    <div class="card card-signup">
      <div class="card-header card-header-warning text-center">
        <h2 class="card-title text-center">Registro</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 ml-auto center">
            <div class="info info-horizontal">
              <div class="icon icon-rose" style="display: flex">
                <i class="material-icons">speed</i>
                <h4 class="info-title">&nbsp;&nbsp;Facilidad</h4>
              </div>
              <div class="description">
                <p class="description" style="text-align: justify">
                  Reserva el aula o laboratorio de tu preferencia perteneciente
                  al laboratorio F de forma rapida y sencilla.
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary" style="display: flex">
                <i class="material-icons">groups</i>
                <h4 class="info-title">&nbsp;&nbsp;Variedad</h4>
              </div>
              <div class="description">
                <p class="description" style="text-align: justify">
                  Observa las caracteristicas que tienen las diversas aulas y
                  laboratorios pertenecientes al laboratorio F.
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-info" style="display: flex">
                <i class="material-icons">self_improvement</i>
                <h4 class="info-title">&nbsp;&nbsp;Comodidad</h4>
              </div>
              <div class="description">
                <p class="description" style="text-align: justify">
                  Observa la disponibilidad de las diversas aulas o laboratorios
                  de tu preferencia.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
