<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2>Eliminar Reserva</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Sala Seleccionada: {{ room?.name }} ({{ roomId }})</h4>
                </div>
      
                <div class="card-body">
                    <mat-form-field>
                        <mat-select [(ngModel)]="weeks" name="weeks" placeholder="Semanas" required>
                            <mat-option value="especifica" (click)="selectWeeks()">Específica</mat-option>
                            <mat-option value="pares" (click)="selectWeeks()">Pares</mat-option>
                            <mat-option value="impares" (click)="selectWeeks()">Impares</mat-option>
                            <mat-option value="todas" (click)="selectWeeks()">Todas</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="isSpecificWeek">
                        <input matInput [(ngModel)]="typeWeek" name="typeWeek" placeholder="Semana Específica" disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="isTableReady">
            <div class="card">
                <div class="card-header card-header-info">
                    <h5 class="card-title">Seleccione horario a eliminar</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive table-full-width">
                        <table mat-table [dataSource]="dataSource" class="table" summary="Eliminar Reserva">
                            <!-- Hora Column -->
                            <ng-container matColumnDef="hour">
                                <th mat-header-cell class="text-center" style="width: 10%" *matHeaderCellDef>Hora</th>
                                <td mat-cell *matCellDef="let sch" class="text-center">{{ sch.hour }}</td>
                            </ng-container>
                        
                            <!-- Lunes Column -->
                            <ng-container matColumnDef="lunes">
                                <th mat-header-cell class="text-center" style="width: 18%" *matHeaderCellDef>Lunes</th>
                                <td mat-cell *matCellDef="let sch">
                                    <div class="form-check text-center" *ngIf="sch.lunes != null">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sch.lunesCheck"/>
                                            {{ sch.lunes }}
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </ng-container>
                        
                            <!-- Martes Column -->
                            <ng-container matColumnDef="martes">
                                <th mat-header-cell class="text-center" style="width: 18%" *matHeaderCellDef>Martes</th>
                                <td mat-cell *matCellDef="let sch">
                                    <div class="form-check text-center" *ngIf="sch.martes != null">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sch.martesCheck"/>
                                            {{ sch.martes }} 
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </ng-container>
                        
                            <!-- Miercoles Column -->
                            <ng-container matColumnDef="miercoles">
                                <th mat-header-cell class="text-center" style="width: 18%" *matHeaderCellDef>Miércoles</th>
                                <td mat-cell *matCellDef="let sch">
                                    <div class="form-check text-center" *ngIf="sch.miercoles != null">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sch.miercolesCheck"/>
                                            {{ sch.miercoles }} 
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </ng-container>
                        
                            <!-- Jueves Column -->
                            <ng-container matColumnDef="jueves">
                                <th mat-header-cell class="text-center" style="width: 18%" *matHeaderCellDef>Jueves</th>
                                <td mat-cell *matCellDef="let sch"> 
                                    <div class="form-check text-center" *ngIf="sch.jueves != null">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sch.juevesCheck"/>
                                            {{ sch.jueves }} 
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </ng-container>
                        
                            <!-- Viernes Column -->
                            <ng-container matColumnDef="viernes">
                                <th mat-header-cell class="text-center" style="width: 18%" *matHeaderCellDef>Viernes</th>
                                <td mat-cell *matCellDef="let sch">
                                    <div class="form-check text-center" *ngIf="sch.viernes != null">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="sch.viernesCheck"/>
                                            {{ sch.viernes }} 
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <button type="button" class="btn btn-info btn-lg btn-block" [disabled]="!canDelete()" (click)="deleteReservation()">Eliminar</button>
                    <button type="button" class="btn btn-default btn-lg btn-block" (click)="goBack()">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>