.img-sala{
    width: 100%;
}

#bottom {
    position: absolute;
    width: 80%;
    bottom: 10px;
}

@media (max-width: 991px) {
    #bottom {
        position: initial;
        width: auto;
    }
    .btn-description{
        font-size: 12px;
    }
}