<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2>Solicitudes Realizadas</h2>
      </div>
    </div>
    <hr />
    <div class="card mt-5">
      <div class="card-header card-header-info">
        <h3 class="card-title">
          Historial
        </h3>
      </div>
      <div class="card-body">
        <div class="table-responsive" *ngIf="isTableReady">
          <table
            class="table"
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="row-border hover"
          >
            <ng-container
              *ngIf="isAdmin; then adminTemplate; else userTemplate"
            ></ng-container>
            <ng-template #adminTemplate>
              <thead>
                <tr *ngIf="!isLoading">
                  <th>Solicitante</th>
                  <th>Fecha de Solicitud</th>
                  <th>Tipo</th>
                  <th>Materia</th>
                  <th>Sala</th>
                  <th>Material solicitado</th>
                  <th>Capacidad</th>
                  <th>Horario</th>
                  <th>Aprobar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of requestsAdmin">
                  <td>{{ request.name }}</td>
                  <td>{{ request.send_time | date }}</td>
                  <td>{{ request.type | userType }}</td>
                  <td>{{ request.subject_id }}</td>
                  <td>{{ request.room_id }}</td>
                  <td>{{ request.material_needed }}</td>
                  <td>{{ request.quantity }}</td>
                  <td>
                    <button 
                      mat-icon-button
                      (click)="openScheduleDialog(request.id)"
                    >
                      <i class="material-icons">visibility</i>
                    </button>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="acceptRequest(request.id)"
                      [disabled]="actionsDisabled"
                    >
                      Si
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="openRejectionDialog(request.id)"
                      [disabled]="actionsDisabled"
                    >
                      No
                    </button>
                  </td>
                </tr>
              </tbody>
            </ng-template>
            <ng-template #userTemplate>
              <thead>
                <tr *ngIf="!isLoading">
                  <th>Materia</th>
                  <th>Fecha de Solicitud</th>
                  <th>Sala</th>
                  <th>Material solicitado</th>
                  <th>Capacidad</th>
                  <th>Horario</th>
                  <th>Estado</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of requests">
                  <td>{{ request.subject_id }}</td>
                  <td>{{ request.send_time | date }}</td>
                  <td>{{ request.room_id }}</td>
                  <td>{{ request.material_needed }}</td>
                  <td>{{ request.quantity }}</td>
                  <td>
                    <button 
                      mat-icon-button
                      (click)="openScheduleDialog(request.id)"
                    >
                      <i class="material-icons">visibility</i>
                    </button>
                  </td>
                  <td>{{ request.status | requestStatus }}</td>
                  <td>
                    <div *ngIf="request.status == 'A'">
                      No se puede eliminar
                    </div>
                    <button 
                      mat-flat-button
                      (click)="viewRejectedReason(request.reason)"
                      *ngIf="request.status == 'R'"
                    >
                      Ver Motivo
                    </button>
                    <button
                      mat-icon-button
                      (click)="deletedRequest(request.id)"
                      [disabled]="actionsDisabled"
                      *ngIf="request.status == 'P'"
                    >
                        <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
