<p *ngIf="datos == undefined"> {{componentDescription}} </p>
<form [formGroup]="form" (ngSubmit)="create()">
  <mat-form-field *ngIf="datos != undefined">
    <input matInput [formControl]="form.controls['requester_id']" name="requester_id" placeholder="Usuario Solicitante">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="form.controls['contact_name']" name="contact_name" placeholder="Nombre de Solicitante">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="form.controls['contact_email']" name="contact_email" placeholder="Correo">
  </mat-form-field>
  <mat-form-field>
    <mat-select [formControl]="form.controls['laboratory']" name="laboratory"
    placeholder="Laboratorio" (selectionChange)="onFormChange($event)">
      <mat-option *ngFor="let option of laboratorios" [value]="option.id">
        {{ option.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  *ngIf="datos != undefined">
    <input matInput [formControl]="form.controls['trimester_id']" name="trimester_id" placeholder="Trimestre">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="form.controls['reservation_day']" [matDatepicker]="picker"
    placeholder="Fecha" date readonly [min]="minDate" [max]="maxDate" (dateChange)="onFormChange()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select [formControl]="form.controls['reservation_hour']" name="reservation_hour"
    placeholder="Hora" (selectionChange)="onFormChange($event)">
      <mat-option *ngFor="let option of hours" [value]="option.id">
        {{ option.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="form.controls['amount_people']" name="amount_people" placeholder="Cantidad de Personas">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [formControl]="form.controls['observations']" name="observaitons" placeholder="Observaciones"></textarea>
  </mat-form-field>
  <div *ngIf="datos == undefined" class="row">
    <div class="d-flex justify-content-end ml-auto">
      <div class="col">
        <button mat-raised-button class="btn btn-info" type="submit" [disabled]="form.invalid">Crear</button>
      </div>
    </div>
  </div>
</form>