<div class="row">
  <div class="col-md-9 ml-auto mr-auto">
    <div class="card card-signup">
      <div class="card-header card-header-warning text-center">
        <h2 class="card-title text-center">Registro</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 ml-auto">
            <div class="info info-horizontal">
              <div class="icon icon-rose" style="display: flex">
                <i class="material-icons">speed</i>
                <h4 class="info-title">&nbsp;&nbsp;Facilidad</h4>
              </div>
              <div class="description">
                <p class="description" style="text-align: justify">
                  Reserva el aula o laboratorio de tu preferencia perteneciente
                  al laboratorio F de forma rapida y sencilla.
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary" style="display: flex">
                <i class="material-icons">groups</i>
                <h4 class="info-title">&nbsp;&nbsp;Variedad</h4>
              </div>
              <div class="description">
                <p class="description" style="text-align: justify">
                  Observa las caracteristicas que tienen las diversas aulas y
                  laboratorios pertenecientes al laboratorio F.
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-info" style="display: flex">
                <i class="material-icons">self_improvement</i>
                <h4 class="info-title">&nbsp;&nbsp;Comodidad</h4>
              </div>
              <div class="description">
                <p class="description" style="text-align: justify">
                  Observa la disponibilidad de las diversas aulas o laboratorios
                  de tu preferencia.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="text-center justify-content-center">
              <h4 class="mt-3">Complete el registro</h4>
            </div>
            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="card" style="background: #eee; margin-top: 5px">
                <div class="card-body">
                  <div class="form-group has-default">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">face</i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        value="{{ nombre }}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="form-group has-default">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        value="{{ correo }}"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="form-group has-default">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">info</i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        value="{{ tipo }}"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group has-default">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input
                    type="password"
                    placeholder="Contraseña que usara en reservAC"
                    class="form-control"
                    required
                    minLength="8"
                    pattern="([0-9a-zA-Z]*)"
                    formControlName="clave"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div
                *ngIf="
                  form.controls['clave'].invalid &&
                  (form.controls['clave'].dirty ||
                    form.controls['clave'].touched)
                "
              >
                <div *ngIf="form.controls['clave'].errors.required">
                  <p
                    style="
                      color: rgb(228, 4, 4);
                      margin: -0.5%;
                      margin-left: 20%;
                    "
                  >
                    No puedes dejar el campo en blanco.
                  </p>
                </div>
                <div *ngIf="form.controls['clave'].errors.pattern">
                  <p
                    style="
                      color: rgb(228, 4, 4);
                      margin: -0.5% 0;
                      margin-left: 20%;
                    "
                  >
                    Debe tener solo letras y números.
                  </p>
                </div>
                <div *ngIf="form.controls['clave'].errors.minlength">
                  <p
                    style="
                      color: rgb(228, 4, 4);
                      margin: -0.5% 0;
                      margin-left: 20%;
                    "
                  >
                    Debes ingresar mínimo 8 caracteres.
                  </p>
                </div>
              </div>
              <div class="form-group has-default">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">check</i>
                    </span>
                  </div>
                  <input
                    type="password"
                    placeholder="Confirme la contraseña"
                    class="form-control"
                    required
                    formControlName="confirma_clave"
                  />
                </div>
              </div>
              <div *ngIf="checkSamePassword()">
                <p
                  style="color: rgb(228, 4, 4); margin: -0.5%; margin-left: 20%"
                >
                  Las contraseñas no coinciden.
                </p>
              </div>
              <div
                *ngIf="
                  form.controls['confirma_clave'].invalid &&
                  (form.controls['confirma_clave'].dirty ||
                    form.controls['confirma_clave'].touched)
                "
              >
                <div *ngIf="form.controls['confirma_clave'].errors.required">
                  <p
                    style="
                      color: rgb(228, 4, 4);
                      margin: -0.5%;
                      margin-left: 20%;
                    "
                  >
                    No puedes dejar el campo en blanco.
                  </p>
                </div>
              </div>
              <div class="text-center">
                <button
                  class="btn btn-warning btn-round"
                  [disabled]="form.invalid"
                  type="submit"
                  style="color: white"
                >
                  Registrate
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
